.page--header {
  transform: translate(-50%, -30px);
  opacity: 0;

  &.in-view {
    transform: translate(-50%, 0);
    opacity: 1;
    transition:
      1s cubic-bezier(0.17, 0.84, 0.44, 1) 0.8s transform,
      1s cubic-bezier(0.17, 0.84, 0.44, 1) 0.8s opacity;
  }
}

header:lang(ar) {
  .logo {
    order: 2;
  }

  nav {
    direction: rtl;

    ul {
      :first-child {
        @apply ml-10;
      }
      :last-child {
        margin-left: 0 !important;
      }
    }
  }
}
