/* styles.module.css */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Make sure it's above other elements */
    background-color:rgb(255, 245, 245);
    border: 2px;
    /* border-radius: 50%; */
    /* padding: 10px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .scroll-to-top:hover {
    background-color: #f0f0f0;
  }
  
  .scroll-to-top svg {
    fill: #000;
  }
  