:root {
  --font-primary: 'Poppins', sans-serif;

  --color-primary: #4374fa;
  --color-secondary: #ff9900;

  --color-bg--light: #fff;
  --color-bg--dark: #0a0a0a;
  --color-bg--blue: #f5f8fe;

  --color-btn--light: #fff;
  --color-btn--light--hover: #4374fa;

  --color-btn--text--light: #000;
  --color-btn--text--light--hover: #fff;

  --color-text--white: #fff;
  --color-text--dark: #000;
  --color-text--gray: #6c6c6c;

  --spacing-xs: 4rem;
  --spacing-sm: 5rem;
  --spacing-lg: 8rem;
  --spacing-xl: 12.4rem;
  --spacing-2xl: 18rem;

  --desktop-width: 1440;
  --mobile-width: 430;
}
